<body class="centrado color-change-2x " alt="splash">
  <div class="container">
    <ion-card-content class="d-flex-center" style="margin-top: 50px;">
      <div class="custom-texto text-focus-in">
        <img src="../../../assets/Splash-letrav1.png" alt="icono" class="icono-logo">
      </div>
      <div class="icono scale-in-center">
        <img src="../../../assets/icono-logo.png" alt="icono">
      </div>
      <div class="custom-texto text-focus-in">
        <img src="../../../assets/Splash-letrav2.png" alt="texto" class="icono-logo">
      </div>
    </ion-card-content>
  </div>
</body>
